<a href="http://www.twitter.com/omsn">
	<img src="@routes.Assets.at("img/icons/twitter.png")" title="Twitter" />
</a>

<a href="http://www.facebook.com/korbinian.schmid">
	<img src="@routes.Assets.at("img/icons/facebook.png")" title="Facebook" />
</a>

<a href="http://plus.google.com/101913113115267713327">
	<img src="@routes.Assets.at("img/icons/google-plus-black.png")" title="Google Plus" />
</a>

<a href="http://www.linkedin.com/in/korbinianschmid">
	<img src="@routes.Assets.at("img/icons/linkedin.png")" title="LinkedIn" />
</a>

<a href="http://www.xing.com/profile/Korbinian_Schmid">
	<img src="@routes.Assets.at("img/icons/xing.png")" title="Xing" />
</a>
<!--
<a href="http://www.youtube.com/stunksys">
	<img src="@routes.Assets.at("img/icons/youtube.png")" title="Youtube" />
</a>
-->
<a href="http://stackoverflow.com/users/58246/mr-omsn">
	<img src="@routes.Assets.at("img/icons/stackoverflow.png")" title="Stackoverflow" />
</a>

<a href="https://github.com/omsn">
	<img src="@routes.Assets.at("img/icons/github.png")" title="Github" />
</a>
<!--
<a href="skype:stunksys?add">
	<img src="@routes.Assets.at("img/icons/skype.png")" title="Skype" />
</a>
-->
<a href="http://www.vimeo.com/omsn">
	<img src="@routes.Assets.at("img/icons/vimeo.png")" title="Vimeo" />
</a>