@(posts: Seq[models.Post])

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>OMSN.DE | private website of Korbinian Schmid</title>
	<link href="@routes.Assets.at("img/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href="@routes.Assets.at("css/reset.css")" rel="stylesheet" type="text/css" />
	<link href="@routes.Assets.at("css/start.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="content">

		<h1>Korbinian Schmid</h1>
	
		<div id="connect"> @connect() </div>
	
		<div id="info">

			<img src="@routes.Assets.at("img/me.jpg")" alt=""/>

			<p>
			Software Engineer from Munich, Germany. Currently working for <a href="http://labs.oracle.com">Oracle Labs</a>. Previously active at <a href="http://www.vwerl.com">Volkswagen Electronics Research Lab</a>
			as well as several Munich-based startups. 
			Holding a M.Sc. in <a href="http://studieren.se">Software Engineering</a> from <a href="http://www.tum.de/en/homepage/">TUM</a>
			and a B.Sc. in Computer Science from <a href="http://www.uni-augsburg.de/en">UNA</a>. <br/>
			</p>
			<p>
			<a href="@routes.Blog.about()">More about me &raquo;</a>
			</p>
		</div>

		<div id="latest">

		</div>
	
	</div>
</body>
</html>